html {
  font-size: 100%;
  box-sizing: border-box;
  cursor: url("../assets/rsz_cursor.png"), auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: whitesmoke;
  line-height: 1.3;
  margin: 0px;
  padding: 0px;
}
